@import './__colors.sass'

.dark-mode
  .bg-warning,
  .btn-warning
    background-color: var(--orange) !important

  .nav-sidebar .nav-link.active
    background-color: var(--orange) !important
    color: var(--black) !important
    
  // Datatables
  .page-item
    &.active .page-link
      background-color: var(--orange) !important
      color: var(--black) !important
      border-color: var(--orange) !important

      &:hover
        color: #fff !important

      &:focus
        color: var(--black) !important

    &:not(.active) .page-link
      color: #fff !important
      border-color: var(--orange) !important

    &.disabled a
      border-color: var(--orange) !important

    & .page-link:focus
      box-shadow: none !important

  & .card:not(.card-outline) .card-header a.active
    color: var(--black) !important

  & .card-warning
    &.card-outline
      border-top-color: var(--orange) !important

    &:not(.card-outline) .card-header
      background-color: var(--orange) !important

.brand
  &:hover
    color: var(--orange) !important

  &--text-small
      font-size: 1rem

.user-panel a:not(.btn):hover
  color: var(--orange) !important

.form-control:focus
  border-color: var(--orange) !important

.nav-pills 
  & .nav-link
    &:not(.active):hover
      color: var(--orange) !important
      
    &.active
      background-color: var(--orange) !important

.breadcrumb .breadcrumb-item a
  text-align: end !important

// Select2
.select2-container--bootstrap4
  &.select2-container--focus .select2-selection
    border-color: var(--orange) !important
  & .select2-results__option--highlighted
    color: var(--black) !important
    background-color: var(--orange) !important

.divider
  width: 6rem
  border: 1px solid #454d55
  margin-bottom: 1.5rem
  margin-left: auto
  margin-right: auto