:root {
  --orange: #ffc107;
  --yellow: var(--orange);
  --warning: var(--orange);
}

.brand:hover {
  color: var(--orange) !important;
}
.brand--text-small {
  font-size: 1rem;
}

.nav-link.active {
  background-color: var(--orange) !important;
  color: #000 !important;
}

.dark-mode .bg-warning {
  background-color: var(--orange) !important;
}
.dark-mode .card-header {
  background-color: var(--orange) !important;
}
.dark-mode .btn-warning {
  background-color: var(--orange) !important;
}
.dark-mode .page-item.active .page-link {
  background-color: var(--orange) !important;
  color: #000 !important;
}

.page-item.active .page-link {
  border-color: var(--orange) !important;
}

.form-control:focus {
  border-color: var(--orange) !important;
}
